* {
  box-sizing: border-box;
}
body {
height: 100%;
background-image: url("../images/congruent_pentagon.png");
background-repeat: repeat;
 max-width: 845px;
 margin: auto;
 align-content: center;
font-family: 'BioRhyme',serif;
font-size: 18px;
}

h1 {margin-top: 0px;}
p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}
.container{
  background-color: whitesmoke;
 
  padding: 40px;
  /*padding-left: 45px; */
  margin: auto; 
  margin-top: 60px;
  align-content: center;
 


}
/* .instructions{
  width: 765px;
} */
.scoring-area{
  clear:both;
  /* width:760px; */
  height: 35px;
  margin-bottom: 20px;
  margin-top:10px;
}
.half{
  float: left;
  width: 367px;
  background-color: rgb(182,211,192);
  font-size: 22px;
  padding-left: 5px;

}
.bordergreen {
  border: 5px solid rgb(50, 86, 63);
}
.liteup {
  border: 6px solid rgb(106, 243, 14);
  background-color: white;
}
.first {margin-right: 4px; float: left;}
.second {margin-left: 6px;float:left;}
/* #randomTarget {color: teal;}
#currentTotal {color: teal;} */
.crystal-set{
  /* background-color: #ffffff; */
  height: 190px;
  /* width: 760px; */
  /* padding: 5px; */
  /* padding-left:8px; */
}
.crystal{
  display: inline-block;
  align-content: center;
  /* float: left; */
  height: 180px;
  width: 180px;
  margin-right: 3px;
  margin-top: 5px;
}
.clearfix {
  overflow: hidden;
}